<div class="wrapper-content-sign-in">
  <div class="container text-center">
    <h2 class="display-4 form-signin-heading text-white"><i class="fa fa-trophy"></i>Smsflow</h2>
    <form class="form-signin1 white">
      <h2 class="text-dark mb-4">Connexion</h2>
      <label class="sr-only">Nom d'utilisateur</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Nom d'utilisateur">
      </div>
      <br>
      <label class="sr-only">Mot de passe</label>
      <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Mot de passe">
      </div>
      <br>
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Se rappeller de moi ?</span>
      </label>
      <br>
      <a routerLink="/home" class="btn btn-lg btn-primary btn-round">Se connecter</a>
      <a routerLink="/forgotpassword" class="btn btn-link mt-2">Mot de passe oublié ?</a>
    </form>
    <p class="mt-3">Pas encore de compte ? <a routerLink="/signup" class="text-white">S'inscrire</a> !</p>
  </div>
</div>