<header class="navbar-fixed">
  <nav class="navbar navbar-toggleable-md sign-in-header">
    <div class="pull-left">  <a class="navbar-brand imglogo" href="index.html"></a> </div>
  </nav>
</header>
<div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Formulaire d'ajout d'un nouvel utilisateur</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-16">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <form #registerForm="ngForm" (submit)="onSubmit(registerForm)" novalidate [formGroup]="registerFormGroup">
                <div class="form-group row">
                  <div class="col-lg-8 col-md-8">
                    <label>Nom de la société</label>
                    <div class="input-group"><span class="input-group-addon"><i class="fa fa-building"></i></span>
                      <input type="text" class="form-control" formControlName="companyName" placeholder="Nom de la société" name="companyName" ngModel>
                    </div>
                    <div class="alert alert-danger" *ngIf="!registerFormGroup.controls['companyName'].valid && registerFormGroup.controls['companyName'].touched">Company Name should at least be 6 characters !!</div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <label>Numéro de TVA</label>
                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      <input type="text" class="form-control" placeholder="Numéro de TVA" name="tvaNumber" ngModel>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-8 col-md-8">
                    <label>Nom du contact</label>
                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input type="text" formControlName="nameOfContact" class="form-control" placeholder="Nom du contact de référence" name="nameOfContact" ngModel>
                    </div>
                  </div>
                  <div class="col-lg-8 col-md-8">
                    <label>Numéro de téléphone</label>
                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                      <input type="text" class="form-control" placeholder="Numéro de téléphone" name="phoneNumber" ngModel>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-8 col-md-8">
                    <div class="row">
                      <div class="col-lg-8">
                        <label>Pays</label>
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                          <select class="form-control" name="country" ngModel>
                            <option *ngFor="let country of countries" ngValue="{{country}}">{{country}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <label>Ville</label>
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-university"></i></span>
                          <input type="text" class="form-control" placeholder="Ville" name="city" ngModel>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8 col-md-8">
                    <div class="row">
                      <div class="col-lg-8">
                        <label>Rue</label>
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-road"></i></span>
                          <input type="text" class="form-control" placeholder="Rue" name="street" ngModel>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <label>Code postal</label>
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
                          <input type="text" class="form-control" placeholder="Code postal" name="postalCode" ngModel>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-16 col-md-16">
                    <div class="row">
                      <div class="col-lg-8">
                        <label>Nom d'utilisateur</label>
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" formControlName="username" ngModel>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <label>Password</label>
                        <div class="input-group"> <span class="input-group-addon" ><i class="fa fa-key"></i></span>
                          <input type="password" class="form-control" placeholder="Mot de passe" name="password" formControlName="password" ngModel>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-16 col-md-16">
                    <div class="row">
                      <div class="col-lg-8">
                        <label>Adresse e-mail</label>
                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                          <input type="text" class="form-control" placeholder="Adresse e-mail" name="email" ngModel>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <label>Répéter mot de passe</label>
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-key"></i></span>
                          <input type="password" class="form-control" placeholder="Répéter mot de passe" name="password2" formControlName="confirmPassword">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="submit" class="btn btn-success pull-right" value="Ajouter"><br>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>