<header class="navbar-fixed">
  <nav class="navbar navbar-toggleable-md sign-in-header">
    <div class="pull-left">  <a class="navbar-brand imglogo" href="index.html"></a> </div>
  </nav>
</header>
<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <h2 class="display-4 text-white"><i class="fa fa-comments"></i>Smsflow</h2>
    <form class="form-signin1 white">
      <h2 class="text-dark mb-4">Inscription</h2>
      <label  class="sr-only">Nom de la société</label>
      <div class="input-group"><span class="input-group-addon"><i class="fa fa-building"></i></span>
        <input type="text" class="form-control" placeholder="Nom de la société" name="companyName" ngModel>
      </div>
      <br>
      <label  class="sr-only">Nom du contact</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Nom du contact de référence" name="nameOfContact" ngModel>
      </div>
      <br>
      <label  class="sr-only">Numéro de téléphone</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <input type="text" class="form-control" placeholder="Numéro de téléphone" name="phoneNumber" ngModel>
      </div>
      <br>
      <label  class="sr-only">Rue</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-road"></i></span>
        <input type="text" class="form-control" placeholder="Rue" name="street" ngModel>
      </div>
      <br>
      <label  class="sr-only">Code postal</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-address-book"></i></span>
        <input type="text" class="form-control" placeholder="Code postal" name="postalCode" ngModel>
      </div>
      <br>
      <label  class="sr-only">Ville</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-university"></i></span>
        <input type="text" class="form-control" placeholder="Ville" name="city" ngModel>
      </div>
      <br>
      <label  class="sr-only">Pays</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-globe"></i></span>
        <select class="form-control" placeholder="Pays" name="country" (change)="changeCountry(value)" #value>
          <option value="">Choisissez votre pays...</option>
          <option value="BE">Belgium</option>
          <option value="FR">France</option>
          <option value="NL">Netherlands</option>
        </select>
      </div>
      <br>
      <label  class="sr-only">Nom d'utilisateur</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" ngModel>
      </div>
      <br>
      <label  class="sr-only">Adresse e-mail</label>
      <div class="input-group"> <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Adresse e-mail" name="email" ngModel>
      </div>
      <br>
      <label class="sr-only">Password</label>
      <div class="input-group"> <span class="input-group-addon" ><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Mot de passe" name="password" ngModel>
      </div>
      <br>
      <a routerLink="/" class="btn btn-lg btn-primary btn-round">Sign Up</a><br>
    </form>
  </div>
</div>